<header class="app-bar">
    <div (click)="goToResults()" class="app-name">Restaurant Explorer</div>
    <button class="subscribe-button" (click)="subscribeToOffers()">Subscribe to Offers</button>
    <button class="bookings-button" (click)="bookings()">Reservations</button>
    <!-- <button class="help-button" (click)="help()">Help</button> -->
    <button class="logout-button" (click)="logout()">Logout</button>
    <div class="profile-container">
        <img [src]="getProfilePicUrl()" alt="Profile Image" class="profile-image">
    </div>
</header>